/* You can add global styles to this file, and also import other style files */
nav{
    ul{
        list-style: none;
        li{
            display: inline;
        } 
    }
    a{
        padding: 5px;
    }
    .active{
        font-weight: bold;
    }
}
